app:
  name: "ikun_coffee"
  version: "1.0.0"
  env: "production"
  debug: false

server:
  host: "0.0.0.0"
  port: 8080
  mode: "release"

database:
  driver: "mysql"
  host: "localhost"
  port: 3306
  username: "root"
  password: "123456"
  database: "ikun_coffee"
  charset: "utf8mb4"

redis:
  host: "localhost"
  port: 6379

jwt:
  secret: "thisiskey"
  expire: 24h


log:
  level: "info"

